* {
  margin: 0;
  padding: 0;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s, color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}


:root {
  --accent: #9A0404;
  --primary: black;
  --secondary: white;
}

::-webkit-scrollbar {
    width: 5px;
    right: 50px;
} 

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 10px;
    margin: 30px 0px;
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
}


body {
  background-color: var(--primary);
  font-family: "Montserrat", sans-serif;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.scroll {
  position: absolute;
  right: 0;
  color: #fff;
  background-color: var(--secondary);
  height: 100vh;
}

.section {
  width: 90vw;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

.navbar {
  position: fixed;
  height: 100vh;
  width: 10vw;
  left: 0;
  top: 0;
  background-color: var(--accent, #9A0404);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-top: 20px solid var(--primary);
  border-bottom: 20px solid var(--primary);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
}

.navbar .buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90%;
}

.navbar .me {
  width: 125px;
  border-radius: 50px;
  background-color: white;
}

.navbar .buttons button {
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: small-caps;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}


.navbar .buttons button:hover {
  scale: 105%;
  cursor: pointer;
  color: #fff;
}

.navbar .buttons button::before,
.navbar .buttons button::after {
  background-color: #fff;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  transition: width 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

.navbar .buttons button::before {
  left: 50%;
  transform: translateX(-50%);
}

.navbar .buttons button::after {
  right: 50%;
  transform: translateX(50%);
}

.navbar .buttons button:hover::before,
.navbar .buttons button:hover::after {
  width: 75%; /* Adjust the width to control the stretching effect */
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--primary);
  width: 58px;
  height: 22px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: var(--secondary);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(34px);
}


.hero {
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.hero h1 {
  margin: 20px 0;
}

.hero h2 {
  margin: 30px 0;
  font-variant: small-caps;
}

.hero .title {
  color: var(--secondary);
  margin: 0px 20px;
  flex: 2;
}

.tilter {
  overflow: hidden;
}

.hero .profile {
  margin: 50px;
}

.hero .info {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  
}

.contactb {
  margin: 0px 10px;
}

.hero .profile img {
  width: 600px;
  overflow: hidden;
}

.hero .point {
  margin-top: 50px;
}

.about {
  flex-direction: column;
  overflow: hidden;
  color: var(--secondary);
  margin: 100px 0px;
}

.point {
  background-color: var(--accent);
  border: none;
  color: #fff;
  font-size: 2rem;
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.point:hover {
  scale: 105%;
  cursor: pointer;
}


.about p {
  font-size: 1rem;
  margin: 20px 0;
  max-width: 60ch;
  text-align: justify;
}


.skillcard {
  color: var(--secondary);
  align-items: center;
  justify-content: flex-start;
  display: flex;
  font-size: 0.7rem;
  margin: 10px;
}

.skillcard img{
  margin-right: 10px;
  width: 48px;
  height: 48px;
}

.skills {
  flex-direction: column;
  overflow: hidden;
  color: var(--secondary);
  margin: 300px 0px;
}

.skills .skillholder {
  margin-top: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 3fr)); /* Adjust the column width as needed */
  gap: 10px;
}

.jobskill {
  color: #fff;
  border: 2px solid white;
  border-radius: 40%;
  width: fit-content;
  padding: 10px;
  margin: 5px;
}

.jobname {
  color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

.joblocation {
  color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.jobcard {
  width: 70%;
  background-color: var(--accent);
  border-radius: 10px;
  margin: 30px;
  box-shadow: 0px 5px 5px var(--secondary);
}

.jobcard h1 {
  font-size: 2rem;
}

.jobcard h2 {
  font-size: 1rem;
}


.jobcard .jobcardhead {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  
}

.jobcard .jobdescription {
  color: #fff;
  margin: 10px;
  font-size: 1rem;
  text-align: justify;
}

.jobcard .jobcardfoot {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  font-size: 0.8rem;
  padding: 10px;
  flex-wrap: wrap;
}

.experience {
  margin: 200px 0px;
  flex-direction: column;
  overflow: hidden;
  color: var(--secondary);
}

.projects {
  margin: 250px 0px;
  flex-direction: column;
  overflow: hidden;
  color: var(--secondary);
}

.projectcard {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 550px;
  background-color: var(--accent);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px var(--secondary);
  color: white;
}

.projectcard .projectimage {
  height: 250px;
  align-items: stretch;
}

.projectcard .projectdescription {
  font-size: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  text-align: right;
}

.projectcard .projectdescription p {
  font-size: 0.8rem;
  max-width: 40ch;
}

.projectcard .projectimage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all ease-in-out 0.3s;
}

.projectcard .projectimage img:hover{
  border-radius: 30px;
  border: 3px solid var(--accent);
  scale: 110%;
}

.projectgrid {
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 3fr));
  margin-top: 20px;
  margin-bottom: 75px;
}

.contact {
  margin: 100px 0px;
  flex-direction: column;
  overflow: hidden;
  color: var(--secondary);
}

.contact .personals{
  margin-top: 100px;
  font-size: .3em;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.contact .personals a{
  color: var(--accent);
}

.contact .socials {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.socials img {
  cursor: pointer;
  margin: 0px 10px;
}

.menu img {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.dropdown {
  position: fixed;
  top: 100px;
  right: 10%;
  background-color: rgba(192, 56, 56, 0.5);
  padding: 10px 0px;
  width: 80%;
  z-index: 50;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  height: 0;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) .3s;
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.dropdown.closed {
  visibility: hidden;
  opacity: 0;
}

.dropdown.open {
  height: 250px;
}


@media (max-width: 1375px) {
  .navbar {
    width: 100%;
    height: 10vh;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 60px;
    border-top: 0px;
  }

  .lightdark {
    position: fixed;
    right: 25px;
    bottom: 25px;
  }

  .checkbox-label {
    background-color: var(--secondary);
    width: 58px;
    height: 22px;
  }
  
  .checkbox-label .ball {
    background-color: var(--primary);
    width: 28px;
    height: 28px;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(34px);
  }

  .navbar .me {
    display: none;
  }

  .navbar .buttons {
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }

  .section {
    width: 100vw;
    padding: 0px;
  }
}

@media (max-width: 1220px) {
  h1, span, h2 {
    font-size: 2rem;
  }

  a {
    font-size: 1.5rem;
  }

  .hero .tilter img {
    width: 400px;
  }


  .projectgrid {
    grid-template-columns: repeat(1, minmax(200px, 3fr));
  }

  .jobcardhead {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
  }

  .joblocation {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 0px;
    margin: 0px;
  }

  .skillcard h1{
    font-size: 1rem;
  }

  .projectcard h1{
    font-size: 1.5rem;
  }

  .projectcard .projectdescription {
    padding: 0px 5px;
  }

  .jobcardhead h1{
    font-size: 1rem;
  }

  .jobcardhead h2 {
    font-size: .8rem;
  }

  .jobname, .joblocation {
    width: 100%;
  }

  .jobcardhead {
    justify-content: center;
    align-items: center;
    margin: 0px;
    display: flex;
  }

  p {
    font-size: .8rem;
  }

  .jobcardhead .jobdescription p{
    font-size: .5rem;
  }

  .jobskill {
    font-size: .5rem;
  }
}

@media (max-width: 880px) {
  h1, span, h2  {
    font-size: 1.2rem;
  }

  .point{
    font-size: .8rem;
    margin: 0px;
    padding: 5px;
  }

  .about p {
    font-size: .8rem;
  }

  .hero .tilter img {
    width: 300px;
  }
}

@media (max-width: 640px) {
  h1, span, h2  {
    font-size: 2rem;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .lightdark {
    position: fixed;
    top: 125px;
    left: 25px;
  }

  .title {
    width: 400px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 30vh;
  }


  .hero .title br {
    display: none;
  }

  .profile {
    margin: 0px;
  }

  .navbar {
    transform: translateY(-100px);
  }

  .about p{
    width: 35ch;
  }


  .skills .skillholder {
    grid-template-columns: repeat(2, minmax(200px, 2fr)); /* Adjust the column width as needed */
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
  }

  .projectcard {
    width: 70vw;
    flex-direction: column;
  }

  .projectcard .projectimage img {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
  }

  .projectcard .projectimage img:hover {
    scale: 1;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
  }

  .projectcard .projectdescription {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .contact a {
    font-size: 1rem;
  }

  .contact h2 {
    font-size: 1rem;
  }

  .contact .personals {
    flex-direction: column;
  }

  .hero .info {
    align-items: center;
    justify-content: center;
    display: inline;
    flex-direction: column;
  }

  .contactb {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .menu {
    position: relative;
    display: block;
  }

  .menu-icon {
    width: 35px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent; /* Set background color as needed */
    position: fixed;
    top: 25px;
    right: 25px;
  }
  
  .menu-icon span {
    width: 100%;
    border-radius: 5px;
    height: 5px; /* Adjust the height to control the thickness of the lines */
    background-color: var(--secondary); /* Set the color of the lines */
    transition: 0.4s; /* Adjust the transition duration as needed */
  }
  
  .menu-icon.open span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  
  .menu-icon.open span:nth-child(2) {
    transform: scaleX(0);
  }
  
  .menu-icon.open span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}





