* {
  margin: 0;
  padding: 0;
  color: white;
}


:root {
  --accent: #9A0404
}

::-webkit-scrollbar {
    width: 5px;
    right: 50px;
} 

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    margin: 30px 0px;
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}


body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.scroll {
  position: absolute;
  right: 0;
  color: #fff;
  background-color: #fff;
  height: 100vh;
}

.section {
  width: 90vw;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

.navbar {
  position: fixed;
  height: 100vh;
  width: 10vw;
  left: 0;
  top: 0;
  background-color: var(--accent, #9A0404);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-top: 20px solid #000;
  border-bottom: 20px solid #000;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
}

.navbar div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90%;
}

.navbar img {
  width: 125px;
  border-radius: 50px;
  background-color: white;
}

.navbar div button {
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: small-caps;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.navbar div button:hover {
  scale: 105%;
  cursor: pointer;
  color: #e8e8e8;
}

.hero {
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.hero h1 {
  margin: 20px 0;
}

.hero h2 {
  margin: 30px 0;
  font-variant: small-caps;
}

.hero .title {
  color: white;
  margin: 0px 20px;
  flex: 2;
}

.tilter {
  overflow: hidden;
}

.hero .profile {
  margin: 50px;
}

.hero .profile img {
  width: 600px;
  overflow: hidden;
}

.hero .point {
  margin-top: 50px;
}

.about {
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  margin-bottom: 100px;
}

.point {
  background-color: var(--accent);
  border: none;
  color: #fff;
  font-size: 2rem;
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.point:hover {
  scale: 105%;
  cursor: pointer;
}


.about p {
  font-size: 1rem;
  margin: 20px 0;
  max-width: 60ch;
  text-align: justify;
}


.skillcard {
  color: #fff;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  font-size: 0.7rem;
  margin: 10px;
}

.skillcard img{
  margin-right: 10px;
}

.skills {
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  margin: 300px 0px;
}

.skills .skillholder {
  margin-top: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 3fr)); /* Adjust the column width as needed */
  gap: 10px;
}

.jobskill {
  color: #fff;
  border: 2px solid white;
  border-radius: 40%;
  width: fit-content;
  padding: 10px;
  margin: 5px;
}

.jobname {
  color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

.joblocation {
  color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.jobcard {
  width: 70%;
  background-color: var(--accent);
  border-radius: 30px;
  margin: 30px;
}

.jobcard h1 {
  font-size: 2rem;
}

.jobcard h2 {
  font-size: 1rem;
}


.jobcard .jobcardhead {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  
}

.jobcard .jobdescription {
  color: #fff;
  margin: 10px;
  font-size: 1rem;
  text-align: justify;
}

.jobcard .jobcardfoot {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  font-size: 0.8rem;
  padding: 10px;
  flex-wrap: wrap;
}

.experience {
  margin: 200px 0px;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  font-size: 3rem;
}

.projects {
  margin: 250px 0px;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
}

.projectcard {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 550px;
  background-color: var(--accent);
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}

.projectcard .projectimage {
  height: 250px;
  align-items: stretch;
}

.projectcard .projectdescription {
  font-size: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  text-align: right;
}

.projectcard .projectdescription p {
  font-size: 0.8rem;
  max-width: 40ch;
}

.projectcard .projectimage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: all ease-in-out 0.3s;
}

.projectcard .projectimage img:hover{
  border-radius: 30px;
  border: 3px solid var(--accent);
  scale: 150%;
}

.projectgrid {
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 3fr));
  margin-top: 20px;
  margin-bottom: 75px;
}

.contact {
  margin: 100px 0px;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
}

.contact .personals{
  margin-top: 100px;
  font-size: .3em;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.contact .personals a{
  color: var(--accent);
}

.contact .socials {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.socials img {
  cursor: pointer;
  margin: 0px 10px;
}


@media (max-width: 1375px) {
  .navbar {
    width: 100%;
    height: 10vh;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 60px;
    border-top: 0px;
  }

  .navbar img {
    display: none;
  }

  .navbar div {
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }

  .section {
    width: 100vw;
    padding: 0px;
  }
}

@media (max-width: 1220px) {
  h1, span, h2 {
    font-size: 2rem;
  }

  a {
    font-size: 1.5rem;
  }

  .hero .tilter img {
    width: 400px;
  }


  .projectgrid {
    grid-template-columns: repeat(1, minmax(200px, 3fr));
  }

  .jobcardhead {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
  }

  .joblocation {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 0px;
    margin: 0px;
  }
}





